<div class="login col-md-6 mx-auto col-md-offset-3">
  <h1 class="h3 text-center">新規ユーザー登録</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :"ユーザー名" %> <br />
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :"パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード（確認）" %><br />
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
    </div>

    <div class="field">
        <%= f.check_box :teacher, {}, true, false %>
        <%= f.label :"先生として登録する" %>
    </div>

    <div class="actions text-center link-margin">
      <%= f.submit "登録", class:"w-50 btn btn-primary" %>
    </div>
  <% end %>

  <div class="link-margin text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>