<h1 class="center">マイレッスン</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>学年</th>
      <th>教科</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日</th>
      <th>更新日</th>
      <th>履歴</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mylesson_lessons.each do |mylesson| %>
      <tr>
        <td><%= mylesson.grade %></td>
        <td><%= mylesson.subject %></td>
        <td><%= mylesson.title %></td>
        <td><%= mylesson.teacher_name %> 先生</td>
        <td><%= mylesson.created_at.to_s(:datetime_jp) %></td>
        <td><%= mylesson.updated_at.to_s(:datetime_jp) %></td>
        <td>
            <% if mylesson.logged_by?(current_user) %>
            学習済み
            <% else %>
            未学習
            <% end %>
          </td>
        <td><%= link_to '勉強する', mylesson, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @mylesson_lessons.empty? %>
  <h3 class="center m-5">マイレッスンに何も登録されていません。</h3>
<% end %>

