<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>
<div class="float-right link-layout">
  <%= link_to '編集', edit_lesson_path(@lesson), class: 'btn btn-outline-dark' %>
</div>
<div class="video-size">
  <%= video_tag "/assets/sentaisho.mp4", :controls => true, :playsinline => true, style: "width:70%;" %>
</div>
<h4><%= @lesson.title %></h4>
<%= @lesson.teacher_name %> 先生
<%= @lesson.grade %>
<%= @lesson.subject %>
<%= @lesson.created_at.to_s(:datetime_jp) %>
<%= @lesson.updated_at.to_s(:datetime_jp) %>
