<%= link_to '編集', edit_lesson_path(@lesson), class: 'btn btn-outline-dark' %>
<%= link_to '一覧', root_path, class: 'btn btn-outline-dark' %>
<%= link_to 'マイレッスン', mylesson_path, class: 'btn btn-outline-dark' %>
<div class="video-size">
  <%= video_tag "/assets/sentaisho.mp4", :controls => true, :playsinline => true, style: "width:70%;" %>
</div>
<h4><%= @lesson.title %></h4>
<%= @lesson.teacher_name %> 先生
<%= @lesson.grade %>
<%= @lesson.subject %>
<%= @lesson.created_at.to_s(:datetime_jp) %>
<%= @lesson.updated_at.to_s(:datetime_jp) %>
