<%= render 'shared/error_messages' %>
<% if current_user.teacher? %>
  <div class="float-right link-layout">
    <%= link_to '編集', edit_lesson_path(@lesson), class: 'btn btn-outline-dark' %>
  </div>
<% end %>
<div class="video-size">
  <%= video_tag @lesson.movie.url, :controls => true, :playsinline => true, style: "width:75%;" if @lesson.movie? %>
</div>
<h4><%= @lesson.title %></h4>
<div>
  <%= @lesson.grade %>
  <%= @lesson.subject %> |
  <%= @lesson.teacher_name %> 先生
  <div class="small text-muted ">
    作成日：<%= @lesson.created_at.to_s(:datetime_jp) %>
    更新日：<%= @lesson.updated_at.to_s(:datetime_jp) %>
  </div>
</div>

<div class="mylesson-log">
  <div class="mylesson">
    <% if @lesson.mylesson_by?(current_user) %> 
      <%= link_to "マイレッスンに登録済み", lesson_mylessons_path(@lesson.id), class: "btn btn-success", method: :delete %>
    <% else %>
      <%= link_to "マイレッスンに登録する", lesson_mylessons_path(@lesson.id), class: "btn btn-info", method: :post %>
    <% end %>
  </div>

  <div>
    <% if @lesson.logged_by?(current_user) %> 
      <%= link_to "学習済み", lesson_logs_path(@lesson.id), class: "btn btn-success", method: :delete %>
    <% else %>
      <%= link_to "学習したらクリック", lesson_logs_path(@lesson.id), class: "btn btn-info", method: :post %>
    <% end %>
  </div>
</div>

<hr class="cp_hr02" />
<%= simple_format(@lesson.explanation) %>
<hr class="cp_hr02" />
<div class="p-comment__list">
  <div class="p-comment_listTitle">コメント</div>
  <%= render @lesson.comments %> 
</div>
<%= render partial: 'comments/form', locals: { comment: @comment } %>

