<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>オンラインレッスン</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "header" %>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error_messages] %>
      <div class="alert alert-danger"><%= flash[:error_messages] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning"><%= flash[:alert] %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
